

header
{
    color: red;
    font-family: sans-serif;
    align-items: center;
    font-size: 40px;
}
p
{
    color: red;
    font-family: sans-serif;
    font-size: 20px; 
}
img{

      width:800px
    ; height:auto
}

nav
{

    position: fixed;
    top: 0px;
    right:0px;
}
a{

font-size:40px;
color: white;
background:black;


}
a:hover{

color: red;
}

.flex
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.exp
{
align-items: center;
font-size: 30;
font-family: sans-serif;
}

.int
{
    align-items: center;
    font-size: 30;
    font-family: sans-serif;    
}

.akse
{color: red;}

body
{
background-image:url("bg.png");

}