.container
{
    position: fixed;
    width: 100%;
    
}
body
{

background-image:url("bg.jpg"); 
background-size: cover;
background-repeat: no-repeat;  
}
@media screen and (max-width:600px){}

.q
{
    position: absolute;
    width: 90%;
    left: 5%;
    top: 5%;
    z-index:2;
}
.f
{

    color: white;
    font-size: 4vw;
    text-align:center;
    margin-top:-15%;
    z-index:4;

}
.aa1
{
    position: absolute;
    width: 100%;   
    color: white;
    font-size: 3vw;
    margin-top:2%;
    margin-left:-50%; 
    z-index:2  
}
.aaa1
{
    position: absolute;
    width: 100%;   
    color: white;
    font-size: 3vw;
    margin-top:2%;
    z-index:2
  
}

.a1
{
    position: absolute;
    margin-top:18% ;
    background-image:url("answer.png") ; 
    height:80px;   
    width:100%;
    background-size: contain;
    background-repeat: no-repeat;
    text-align:center;
    z-index:2
}
.a1:hover
{
    background-image:url("answer_over.png") ;
    z-index:4
}
.a2:hover
{
    background-image:url("answer_over.png") ;
    z-index:4
}
.a3:hover
{
    background-image:url("answer_over.png") ;
    z-index:4
}
.a4:hover
{
    background-image:url("answer_over.png") ;
    z-index:4
}
.a2
{
    position: absolute;
    margin-top:25% ;
    background-image:url("answer.png") ; 
    height:80px; 
    width:100%;
    background-size: contain;
    background-repeat: no-repeat;
    text-align:center;
    z-index:2

}
.a3
{
    position: absolute;
    margin-top:32% ;
    background-image:url("answer.png") ; 
    height:80px;   
    width:100%;
    background-size: contain;
    background-repeat: no-repeat;
    text-align:center;
    z-index:2

}
.a4
{
    position: absolute;
    margin-top:39% ;
    background-image:url("answer.png") ; 
    height:80px;   
    width:100%;
    background-size: contain;
    background-repeat: no-repeat;
    text-align:center;
    z-index:2

}
.iq1
{


}
.iq2
{


}

