.container
{
position: fixed;
left:50% ;
top:50% ;
margin-left: -320px;
margin-top: -240px;
background-image:url("bg.jpg");
width: 640px;
height: 480px;

}
body
{
background-color: blue;    
}
.q
{
    position: absolute;
    margin-top: 40px;
    margin-left:90px;
    width:450px;
    z-index:2;
}
.f
{
    position: absolute;
    color: white;
    font-size: 30px;
    margin-left:-30px;
    margin-top:65px ;
    left:50%;
    z-index:4;
}
.a1
{


}
.a2
{


}
.a3
{


}
.a4
{


}
.iq1
{


}
.iq2
{


}

