body
{
background-color: black;

}

.bcontainer
{
position: absolute;
width: 309px;
height: 450px;
left: 25%;
top: 25%;


}
#play
{
margin-top: -50px;   

width: 100px;
height: 100px;
}
#delete
{
width: 100px;
height: 100px;
}
#record
{
top: -50px;
width: 100px;
height: 100px;    
}












#button1
{
width: 100px;
height: 100px;
background-color:blue;
}
#button2
{
width: 100px;
height: 100px;
background-color:blue;
}
#button3
{
width: 100px;
height: 100px;
background-color:blue;
}


#button4
{
width: 100px;
height: 100px;
background-color:red;
}
#button5
{
width: 100px;
height: 100px;
background-color:red;
}
#button6
{
width: 100px;
height: 100px;
background-color:red;
}
#button7
{
width: 100px;
height: 100px;
background-color:red;
}


#button8
{
width: 100px;
height: 100px;
background-color:orange;
}
#button9
{
width: 100px;
height: 100px;
background-color:orange;
}